
.redtext {
    color: rgb(184, 0, 0);
}

.yellowtext {
    color: rgb(213, 213, 76);
}

.coraltext{
    color: rgb(220, 108, 67);
}

.greentext {
    color: rgb(26, 130, 0);
}

.pinktext {
    color: pink;
}

