
.markdown-body li {
    margin-bottom: 8px; /* 리스트 항목 간의 간격 추가 */
    list-style-position: inside; /* 리스트 스타일을 안쪽으로 이동 */
}

.markdown-body img {
  width: 30%;
  height: auto; /* 원본 비율 유지 */
}

.markdown-body image {
  width: 30%;
  height: auto; /* 원본 비율 유지 */
}


.markdown-body {
max-width: 600px; /* 컨테이너의 최대 너비를 제한 */
margin: 0 auto;   /* 가운데 정렬 */
text-align: left; /* 텍스트를 왼쪽 정렬 */
line-height: 1.6; /* 읽기 편한 줄 간격 */
}

.markdown-body pre {
  background-color: #cccccc; /* 코드 블록 배경색 */
  border-radius: 5px; /* 모서리 둥글게 */
  padding: 16px; /* 패딩 추가 */
  overflow-x: auto; /* 가로 스크롤 추가 */
  white-space: pre-wrap; /* 긴 줄을 줄 바꿈 없이 표시 */
  font-family: 'D2Coding';
}

.markdown-body code {
  color: black;
  padding: 4px;
  border-radius: 3px;
  font-size: 14px;
  font-family: 'D2Coding';
}

@font-face {
  font-family: 'D2Coding';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}