html, body{
    padding: 0px;
    margin: 0px;
    height: 100%;
}

h1 {
    margin: 0px;
    text-align: center;
}
header{
    height: 80px;
    background-color: yellow;
    overflow: hidden;
}

footer{
    height: 15%;
    background-color: plum;
    overflow: hidden;
}

.a{
    color: blue;
    font-size: 18px;
}


#a{
    color: blue;
    font-size: 18px;
}