.body {
    font-family: 'RixXladywatermelonR';
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}     

:link { /*미확인 링크 색상*/
    color: #9d9d9d;
}

a {
    text-decoration-line: none; 
}


@font-face {
    font-family: 'RixXladywatermelonR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-4@1.0/RixXladywatermelonR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.header {
    padding: 2%;
    padding-bottom: 4%;
    height: 10px;
    text-align: center;
    padding-left: 250px;

}

.header2 {

    text-align: center;
    margin-left: 250px; /*왼쪽 고정 크기만큼 비우기*/
    padding: 1%;
}

.Box1 {
    text-align: center; 
    width: 250px;
    height: 100%;
    position: fixed;  /*고정 위치 */
}

.Box2 {
    text-align: center; 
}

.Box3 {
    height: 100%; /* 전체 화면 높이 */
    padding-top: 2%; 
    margin-left: 250px; /*왼쪽 고정 크기만큼 비우기*/

    div, h1, h2, h3 { /* markdown 파일과 카테고리와 타이틀 모두 센터 */
        text-align: center; 
    } 
}

/* markdown 파일 내용 세부 위치 조정 */
.markdown-body {
    img {
         display: block;
        margin-left: auto;
        margin-right: auto;
    }

    ol, li, p {
        text-align: left; 
        margin: 0;
    }
}


.BottomBox {
    text-align: center;
    margin-left: 250px; /*왼쪽 고정 크기만큼 비우기*/

    padding-bottom: 5%;
    bottom: 0; /* 페이지의 아래쪽에 배치 */
    margin-top: 10%;
}

pre {
    font-size: 10px; 
    text-align: left;
}

/* 다크모드 화이트모드 스킨 */
.dark-mode {
    .body{
        background-color: rgb(71, 71, 71); 
        color: rgb(221, 221, 221);
    }
    
    :visited {
        color: rgba(196, 196, 196, 0.856); 
    }
    .Box1, .Box2 {
        background-color: rgb(71, 71, 71); 
    }
    .Box3, .header, .header2, .BottomBox {
        background-color: rgb(71, 71, 71); 
    }
    pre {
        background-color: #818181;
    }
   

    /*** Box2 스크롤바 설정 ***/
    .Box1::-webkit-scrollbar, .body::-webkit-scrollbar {
        width: 6px;
    }
    /* 스크롤바 막대 설정*/
    .Box1::-webkit-scrollbar-thumb, .body::-webkit-scrollbar-thumb {
        background: linear-gradient(#f64435, #ffe498);
        border-radius: 25px;
    }
    /* 스크롤바 뒷 배경 설정*/
    .Box1::-webkit-scrollbar-track, .body::-webkit-scrollbar-track {
        background-color: #575757;
    }
}

.while-mode {

    .body{
        background-color: rgb(250, 250, 250); 
        color: black;
    }
    
    :visited {
        color: rgba(49, 49, 49, 0.856); 
    }
    .Box1, .Box2 {
        background-color: #fffcf3; 
    }
    .header, .header2, .BottomBox, .Box3 {
        background-color: rgb(255, 244, 244); 
    }

    /*** Box2 스크롤바 설정 ***/
    .Box1::-webkit-scrollbar, .body::-webkit-scrollbar {
        width: 6px;
    }
    /* 스크롤바 막대 설정*/
    .Box1::-webkit-scrollbar-thumb, .body::-webkit-scrollbar-thumb {
        background: linear-gradient(#f64435, #ffe498);
        border-radius: 25px;
    }
    /* 스크롤바 뒷 배경 설정*/
    .Box1::-webkit-scrollbar-track, .body::-webkit-scrollbar-track {
        background-color: #575757;
    }

    pre {
        background-color: #fcfcfc;
    }
}

/* 테마 선택 전 기본테마 다크 css */
.body{
        background-color: rgb(71, 71, 71); 
        color: rgb(221, 221, 221);
    }
    
    :visited {
        color: rgba(196, 196, 196, 0.856); 
    }
    .Box1, .Box2 {
        background-color: rgb(71, 71, 71); 
    }
    .Box3, .header, .header2, .BottomBox {
        background-color: rgb(71, 71, 71); 
    }
    pre {
        background-color: #818181;
    }

    /*** Box2 스크롤바 설정 ***/
    .Box1::-webkit-scrollbar, .body::-webkit-scrollbar {
        width: 6px;
    }
    /* 스크롤바 막대 설정*/
    .Box1::-webkit-scrollbar-thumb, .body::-webkit-scrollbar-thumb {
        background: linear-gradient(#f64435, #ffe498);
        border-radius: 25px;
    }
    /* 스크롤바 뒷 배경 설정*/
    .Box1::-webkit-scrollbar-track, .body::-webkit-scrollbar-track {
        background-color: #575757;
    }