.body {
    font-family: 'Ownglyph_meetme-Rg'; 
    background-color: rgb(255, 255, 255);    
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
   /* overflow: hidden; */ 
} 


.dark-mode {
    background-color: rgb(75, 75, 75);
    color: rgb(210, 210, 210);
    .WebNameTag {
        background-color: rgb(162, 147, 58);
    }
    :visited {
        color: rgba(179, 170, 0, 0.856);
    }
}

.while-mode {
    background-color: white;
    color: black;
}
    
:link {
    color: yellowgreen;
}

:visited {
    color: rgba(153, 0, 138, 0.856);
}

a {
    text-decoration-line: none; 
}

@font-face {
    font-family: 'Ownglyph_meetme-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.header {
    background-color: rgb(255, 230, 234);
    padding: 2%;
    width: 100%;
    height: 10px;
    text-align: center;
    margin-left: 10%;
}

.Box1 {
    background-color: pink;
    text-align: center; 
    width: 250px;
    height: 100%;
    position: fixed;  /*고정 위치 */
}

.Box2 {
    background-color: rgb(255, 205, 214);
    text-align: center; 
}

.Box3 {
    background-color: rgb(244, 234, 236);
    height: 100%; /* 전체 화면 높이 */
    text-align: center;
    margin-left: 20%;
}

.BottomBox {
    background-color: blueviolet;
    text-align: center;
    margin-left: 20%; 
    padding-bottom: 10%;
}

